<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu">
      <li class="header">NAVIGATION</li>
      <li>
        <a href="<%= soldiers_path %>">
          <i class="fa fa-male"></i> <span>Soldats</span>
        </a>
      </li>
    </ul>
  </section>
</aside>
