<% content_for :headTitle do %>
  Soldats
<% end %>

<% content_for :contentHeader do %>
  <h2>Nouveau soldat &nbsp; <%= link_to 'Retour', soldiers_path, :class => 'btn btn-default' %></h2>
  
  <ol class="breadcrumb">
    <li><a href="#">Accueil</a></li>
    <li><%= link_to 'Soldats', soldiers_path %></li>
    <li class="active">nouveau</li>
  </ol>
<% end %>

<div class="box">
    <div class="box-body">
        <%= render 'form', soldier: @soldier %>
    </div>
</div>

